.callout[data-callout="author"] {
  display: flex;
  flex-direction: column-reverse;
  --callout-icon: user;
  --callout-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-left: solid;
}

.callout[data-callout="author"] > .callout-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  font-style: italic;
}

.callout[data-callout="author"] .callout-content p {
  margin-top: 0;
}

/*
author: sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1155147566615367680
*/

/* aside functionality as a custom callout */
:is(.markdown-source-view .cm-callout, div:not([class])):has(
    > .callout[data-callout-metadata*="aside"]
  ) {
  position: relative;
  overflow: visible;
  contain: none !important;
}
.callout[data-callout-metadata*="aside"] {
  --aside-width: 200px;
  --aside-offset: var(--size-4-4);
  position: absolute;
}
.callout[data-callout-metadata*="aside-l"] {
  left: calc(-1 * (var(--aside-width) + var(--aside-offset)));
  right: calc(100% + var(--aside-offset));
}
.callout[data-callout-metadata*="aside-r"] {
  left: calc(100% + var(--aside-offset));
  right: calc(-1 * (var(--aside-width) + var(--aside-offset)));
}
@media (hover: hover) {
  .markdown-source-view.mod-cm6
    .cm-embed-block:has(> div > [data-callout-metadata*="aside"]):hover {
    overflow: visible;
  }
}


/*
MIT License

Copyright (c) 2022 kneecaps

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/

.tooltip {
  background-color: var(--red);
  color: black;
  word-wrap: break-word;
}
.tooltip .tooltip-arrow {
  border-bottom: 5px solid var(--red);
}
.tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid var(--red);
}
.tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid var(--red);
}
.tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid var(--red);
}
body {
  --red: hsla(var(--interactive-accent-hsl), 0.9);
}

/* Tooltips - from Obuntu theme */
.tooltip {
  background-color: var(--base2); /* PB changed from var(--text-accent) to (123, 108, 214) to blue */ 
  color: whitesmoke; /* was 46, 41, 56 */
  font-weight: normal;
  font-size: 12px;
}
.tooltip .tooltip-arrow {
  border-bottom: 5px solid var(--tooltip-bg);
}