/* Tags styling - Target specific tag */
.tag[href^="#inlog"] {
  background-color: rgb(var(--color-obsidian-rgb), 0.1);
  color: #6ddff6;
  font-weight: bolder;
}

/* Feel free to customize for other tags by modifying the selector and color variables below */

body {
  --color-obsidian-rgb: 233, 49, 71;
  --obsidian: rgb(var(--color-obsidian-rgb));
}