/* Hide the media folder */
div[data-path="Créditos-Atribuições.md"] {
  display: none;
}

/* Lista de caminhos que devem ser ocultados */
div[data-path^="Créditos-Atribuições.md"],
div[data-path^="README.md"]{
  display: none !important;
} 
